/* import reset file for unify browser defaults */
@import url(reset.css);


/* the normal size of vazir font */
@font-face {
    font-family: vazirNormal;
    src: url('../assests/fonts/vazir.eot');
    src: url('../assests/fonts/vazir.eot?#iefix') format('embedded-opentype'),
         url('../assests/fonts/vazir.woff2') format('woff2'),
         url('../assests/fonts/vazir.woff') format('woff'),
         url('../assests/fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}


/* the bold size of vazir font */
@font-face {
    font-family: vazirBold;
    src: url('../assests/fonts/vazir-bold.eot');
    src: url('../assests/fonts/vazir-bold.eot?#iefix') format('embedded-opentype'),
         url('../assests/fonts/vazir-bold.woff2') format('woff2'),
         url('../assests/fonts/vazir-bold.woff') format('woff'),
         url('../assests/fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}


:root {
  --font-base: vazirNormal;

  --bg-color: #f8f9fa;
  --color-White: #ffffff;
  --color-Gold: #F4B000;
  --color-Olive: #a47705;
  --color-Cream: #FFE8A3;
  --color-Smoke: #F5F5F5;
  --color-Teal: #15947a;
  --color-Beige: #efe3b2;
  --color-Forest: #0c5849;
  --color-Red: #ff0000;

  /* spacing scale (based on 1rem = 10px) */
  --space-0: 0;
  --space-0_5: 0.5rem;
  --space-1: 1rem;
  --space-1_5: 1.5rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
  --space-6: 6rem;
  --space-8: 8rem;
  --space-10: 10rem;
}
html{
    font-size: 62.5%;
}
body {
    font-family: vazirNormal;
    direction: rtl;
    background-color: var(--bg-color);
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 120rem;
    width: 100%;
    margin: var(--space-0) auto;
}
#header {
    position: relative;
    height: 55rem;
    display: flex;
}
#header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-Teal);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    z-index: -1;
}


/* navigation */
#nav{
    width: 100%;
    padding-top: var(--space-2);
    display: flex;
    justify-content: space-between;
}
#nav .list ul{
    position: relative;
    display: inline-flex;
    left: var(--space-3);
}
#nav .list ul li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-White);
    padding: var(--space-0_5) var(--space-1);
    transition: 0.1s;
}
#nav .list ul li a:hover{
    border-bottom: 0.2rem solid var(--color-White);
    transition: 0.25s;
}
#nav .list ul li a:active{
    color: var(--color-Beige);
    border-bottom: 0.2rem solid var(--color-Beige);
    transition: 0.25s;
}
.list ul li svg{
    font-size: 2rem;
    margin-left: var(--space-0_5);
}
#nav .nav-link {
    display: inline-flex;
    align-items: center;
}
/* menu bar */
#nav .menu-bar{
    display: none;
    padding: var(--space-0_5);
    position: relative;
    left: var(--space-1);
}
#nav .menu-bar a{
    text-decoration: none;
    color: var(--color-White);
    font-size: 3rem;
}
#nav .menu-bar a:active{
    color: var(--color-Beige);
}


/* logo */
#nav #logo{
    position: relative;
    right: var(--space-1);
}
#nav #logo img {
    width: 9.5rem;
}


/* header text & image */
#header-section {
    margin-top: var(--space-2);
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
#header-section .image{
    position: relative;
    top: -4rem;
}
#header-section .image img{
    width: 53rem;
}
#header-section .text-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: rem; 
    position: relative;
    top: 13rem;
}
#header-section .title{
    font-family: 'vazirBold';
    font-size: 5rem;
    line-height: 5rem;
    color: var(--color-Beige);
}
#header-section .text{
    padding: 1.6rem 0;
    line-height: 3rem;
    font-size: 2.5rem;
    color: var(--color-Beige);
}


/* aside */


#aside{
    position: fixed;
    display: none;
    width: 27rem;
    height: 100vh;
    padding: var(--space-1_5);
    background-color: var(--color-Teal);
    top: 0;
    left: 0;
    box-shadow: 0.3rem 0 1.5rem rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
}
#aside a{
    text-decoration: none;
    color: var(--color-White);
}
#aside a:hover{
    border-bottom: 0.2rem solid var(--color-White);
    transition: 0.25s;
}
#aside a:active{
    color: var(--color-Beige);
    border-bottom: 0.2rem solid var(--color-Beige);
    transition: 0.25s;
}
#aside .close{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: var(--space-2);
    right: var(--space-2);
}
#aside .close a{
    font-size: 3rem;
}
#aside .aside-logo{
    width: 80%;
    margin: var(--space-5) auto var(--space-1_5) auto;
    color: var(--color-Beige);
    font-family: 'vazirBold';
    font-size: 3rem;
    text-align: center;
    border-bottom: 0.3rem solid var(--color-Beige);
}
#aside .aside-logo img{
    width: 10rem;
}


#aside .list ul li{
    font-size: 2rem;
    padding: var(--space-1);
}



/* product */
#product{
    width: 100%;
    height: 65rem;
    margin: var(--space-10) 0 var(--space-5) 0;
    background-color: var(--color-Gold);
    display: flex;
    align-items: center;
    justify-content: center;
}
#product .product-controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-1);
    gap: var(--space-1);
}


#product .product-controls input,
#product .product-controls select{
    border: 0;
    outline: 0;
    font-size: 1.6rem;
    border-radius: 30rem;
    width: 24rem;
    padding: var(--space-1);
    color: var(--color-Forest);
    background-color: var(--color-Gold);
    font-family: 'vazirNormal';
}
#product .product-controls input {
    font-weight: bold;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--color-Olive),
                inset -0.5rem -0.5rem 1rem var(--color-Cream); 
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
}
#product .product-controls input:focus {
    box-shadow: inset 0.1rem 0.1rem 0.2rem var(--color-Olive),
                inset -0.1rem -0.1rem 0.2rem var(--color-Cream);    
}
#product .product-controls select:hover{
    box-shadow: -0.2rem -0.2rem 0.5rem var(--color-Cream),
                 0.2rem  0.2rem 0.5rem var(--color-Olive);
}
#product .product-controls select {
    font-weight: bold;
    box-shadow: -0.5rem -0.5rem 2rem var(--color-Cream),
                 0.5rem  0.5rem 2rem var(--color-Olive);
    cursor: pointer;
}
#product .product-controls select:active {
    box-shadow: inset 0.1rem 0.1rem 0.2rem var(--color-Olive),
                inset -0.1rem -0.1rem 0.2rem var(--color-Cream);
}


#product .product-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#product .product-slider-outer{
    width: 90%;
    height: 50rem;
    margin: 0 var(--space-1);
    background-color: var(--bg-color);
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
}
#product .product-slider{
    display: flex;
    gap: var(--space-1);
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    padding: 0 var(--space-1);
    
}
#product .arrow a{
    font-size: 5rem;
    color: var(--color-Teal);
}
#product .arrow{
    z-index: 5;
    position: relative;
    margin: var(--space-1);
}
#product .right{
    order: 0;
    right: 0;
}
#product .left{
    order: 2;
    left: 0;
}
#product .product-item{
    flex: 0 0 24rem;
    height: 46rem;
    border: 0.1rem solid #e0e0e0;
    border-radius: 1rem;
    order: 1;
    display: flex;
    flex-direction: column;
}
#product .product-item:hover{
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0,0,0,0.3);
    transition: 0.25s;
}
#product .product-item .product-title{
    direction: ltr;
    font-family: vazirBold;
    padding: 0 var(--space-1);
    margin-top: var(--space-0_5);
    height: 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    max-height: 4.2rem;
    overflow: hidden;

}
#product .product-item .product-title a{
    text-decoration: none;
    color: var(--color-Forest);
}
#product .product-item .product-title a h2:hover{
    color: var(--color-Beige);
    transition: 0.25s;
}
#product .product-item .product-image{
    width: 90%;
    height: 35rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: var(--space-1_5);
    box-sizing: border-box;
}
#product .product-item .product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#product .product-item .product-instock{
    padding: var(--space-0) var(--space-1);
    margin: auto var(--space-0) var(--space-1) var(--space-0);
    color: var(--color-Red);
    font-size: 1.3rem;
}
#product .product-item .product-data{
    display: flex;
    align-items: center;
    border-top: 0.1rem solid #e0e0e0;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.5rem var(--space-1);
}
#product .product-item .product-data .add-to-cart:hover{
    cursor: pointer;
}


/* modal */
.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.modal .close-btn {
    font-size: 5rem;
    color: var(--color-Gold);
    position: absolute;
    top: 1rem;
}
.modal .close-btn:hover{
    cursor: pointer;
}
.modal .modal-img{
    width: 30%;
    height: auto;
}
.modal img{
    width: 100%;
    height: auto;
    border-radius: 13px;
}


/* footer */
#footer{
    display: flex;
    width: 100%;
    min-height: 5rem;
    background-color: var(--color-Teal);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-White);
}
#footer p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: var(--space-1);
}


/* Media Queries */
@media only screen and (max-width: 900px) {
    #product{
        margin: var(--space-8) 0;
    }
  
    #nav .list{
        display: none;
    }
    #nav .menu-bar{
        display: block;
    }
    #header-section .image{
        display: none;
    }
    #header-section .text-box{
        align-items: center;
    }
    .modal .modal-img{
        width: 50%;

    }
}
@media only screen and (min-width: 900px) {
    #nav .menu-bar{
        display: none !important;
    }
}


@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        margin: var(--space-0) auto;
        box-sizing: border-box;
    }

    #product .product-box {
        position: relative;
    }

    #product .product-slider {
        width: 100%;
        margin: 0 var(--space-1);
        overflow-x: auto;
    }

    #product .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    #product .right {
        right: var(--space-1);
    }

    #product .left {
        left: var(--space-1);
    }
}
@media screen and (max-width: 540px) {
    #product{
        height: 65rem;
    }
    #product .product-controls {
        flex-direction: column;
        align-items: center;
        gap: var(--space-1);
        margin: var(--space-1) 0;
    }

    #product .product-controls input {
        width: 100%;
    }

    #product .product-controls .search,
    #product .product-controls .filter {
        width: 25rem;
    }

    #product .product-controls select {
        width: 100%;
    }
}
    