/* import reset file for unify browser defaults */
@import url(reset.css);

/* the normal size of vazir font */
@font-face {
    font-family: vazirNormal;
    src: url('../assests/fonts/vazir.eot');
    src: url('../assests/fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../assests/fonts/vazir.woff2') format('woff2'), url('../assests/fonts/vazir.woff') format('woff'), url('../assests/fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

/* the bold size of vazir font */
@font-face {
    font-family: vazirBold;
    src: url('../assests/fonts/vazir-bold.eot');
    src: url('../assests/fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('../assests/fonts/vazir-bold.woff2') format('woff2'), url('../assests/fonts/vazir-bold.woff') format('woff'), url('../assests/fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

:root {
  --font-base: vazirNormal;
  --font-size: 16px;
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --color-0: #ffff;
  --color-1: #0d6efd;
  --color-2: #6c757d;
  --color-3: #F4B000;
  --color-4: #0B1F3B;
  --color-5: #C0C0C0;
  --color-6: #F5F5F5;
  --color-7: #15947a;
  --color-8: #efe3b2;
  --color-9: #4E342E;
  --color-10: #212121;

}

body {
    font-family: vazirNormal;
    direction: rtl;
    background-color: var(--bg-color);
}
.container {
    width: 75rem;
    margin: 0 auto;
}
#header {
    position: relative;
    height: 35rem;
    display: flex;
}
#header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-7);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    z-index: -1;
}

/* navigation */
#nav{
    width: 100%;
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}
#nav ul{
    position: relative;
    display: inline-flex;
    left: 2rem;
}
#nav ul li a{
    text-decoration: none;
    color: var(--color-0);
    padding: 0.3rem 0.6rem;
    transition: 0.1s;
}
#nav ul li a:hover{
    border-bottom: 0.125rem solid var(--color-0);
    transition: 0.25s;
}
#nav ul li a:active{
    color: var(--color-8);
    border-bottom: 0.125rem solid var(--color-8);
    transition: 0.25s;
}
ul li svg{
    font-size: 1.25rem;
    margin-left: 0.4rem;
}
#nav .nav-link {
    display: inline-flex;
    align-items: center;
}
/* menu bar */
#nav .menu-bar{
    display: none;
    padding: 0.3rem;
    position: relative;
    left: 1rem;
}
#nav .menu-bar a{
    text-decoration: none;
    color: var(--color-0);
    font-size: 1.7rem;
}
#nav .menu-bar a:active{
    color: var(--color-8);
}

/* logo */
#nav #logo{
    position: relative;
    right: 2rem;
}
#nav #logo img {
    width: 6rem;
}

/* header text & image */
#header-section {
    margin-top: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
#header-section .image{
    position: relative;
    top: -2rem;
}
#header-section .image img{
    width: 33rem;
}
#header-section .text-box{
    width: rem; 
    position: relative;
    top: 8rem;
}
#header-section .title{
    font-family: 'vazirBold';
    font-size: 3rem;
    line-height: 3rem;
    color: var(--color-8);
}
#header-section .text{
    padding: 1rem 0 1rem 1rem;
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: var(--color-8);
}

/* aside */

#aside{
    position: fixed;
    display: none;
    width: 17rem;
    height: 100vh;
    padding: 1rem;
    background-color: var(--color-7);
    top: 0;
    left: 0;
    box-shadow: 0.2rem 0 1rem rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
}
#aside a{
    text-decoration: none;
    color: var(--color-0);
}
#aside a:hover{
    border-bottom: 0.125rem solid var(--color-0);
    transition: 0.25s;
}
#aside a:active{
    color: var(--color-8);
    border-bottom: 0.125rem solid var(--color-8);
    transition: 0.25s;
}
#aside .close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#aside .close a{
    font-size: 1.7rem;
}
#aside .aside-logo{
    width: 80%;
    margin: 3rem auto 1rem auto;
    color: var(--color-8);
    font-family: 'vazirBold';
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 0.2rem solid var(--color-8 );
}
#aside .aside-logo img{
    width: 6rem;
}
#aside ul{
    /* font-size: 1.7rem; */
}
#aside ul li{
    font-size:1.3rem;
    padding: 0.5rem;
}


/* product */
#product{
    width: 100%;
    margin: 6rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#product .product-item{
    flex-basis: 14rem;
    border: 1px solid #e0e0e0;
    margin-top: 25px;
    border-radius: 3px;
}
#product .product-item:hover{
    box-shadow: 0.3rem 0.3rem 0.7rem 0rem rgba(0,0,0,0.3);
    transition: 0.25s;
}
#product .product-item .product-title{
    font-family: vazirBold;
    padding: 10px;
    height: 50px;
    font-size: 16px;
    line-height: 25px;
}
#product .product-item .product-title a{
    text-decoration: none;
    color: var(--color-10);
}
#product .product-item .product-title a h2:hover{
    color: var(--color-8);
    transition: 0.25s;
}
#product .product-item .product-image img{
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

#product .product-item .product-instock{
    padding:0 10px 10px 0;
    color: red;
    font-size: 13px;
}
#product .product-item .product-data{
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    justify-content: space-between;
    font-size: 14px;
    padding: 7px 10px;
}
#product .product-item .product-data .add-to-cart:hover{
    cursor: pointer;
}

/* modal */
.modal{
    background-color: var(--color-8);
    width: 32rem;
    position: relative;
    border-radius: 1rem;
    margin: auto;
}
.modal .close {
    font-size: 2rem;
    position: absolute;
    top: -1rem;
    right: -0.7rem;
}
.modal .image{
    /* position: absolute; */
    width: 95%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}
.modal .image img{
    width: 100%;
    border-radius: 1rem;
}

/* footer */
#footer{
    display: flex;
    width: 100%;
    background-color: var(--color-7);
    text-align: center;
    color: var(--color-0);
    padding: 1rem;
    margin-top: 1rem;
}


@media only screen and (max-width: 900px) {
  #nav ul{
    display: none;
  }
  #nav .menu-bar{
    display: initial;
  }
  #header-section .image{
    display: none;
  }
}
