/* import reset file for unify browser defaults */
@import url(reset.css);

/* the normal size of vazir font */
@font-face {
    font-family: vazirNormal;
    src: url('../assests/fonts/vazir.eot');
    src: url('../assests/fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../assests/fonts/vazir.woff2') format('woff2'), url('../assests/fonts/vazir.woff') format('woff'), url('../assests/fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

/* the bold size of vazir font */
@font-face {
    font-family: vazirBold;
    src: url('../assests/fonts/vazir-bold.eot');
    src: url('../assests/fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('../assests/fonts/vazir-bold.woff2') format('woff2'), url('../assests/fonts/vazir-bold.woff') format('woff'), url('../assests/fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

:root {
  --font-base: vazirNormal;
  --font-size: 16px;
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --color-0: #ffff;
  --color-1: #0d6efd;
  --color-2: #6c757d;
  --color-3: #F4B000;
  --color-4: #a47705;
  --color-5: #FFE8A3;
  --color-6: #F5F5F5;
  --color-7: #15947a;
  --color-8: #efe3b2;
  --color-9: #0c5849;
  --color-10: #212121;

}

body {
    font-family: vazirNormal;
    direction: rtl;
    background-color: var(--bg-color);
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}
#header {
    position: relative;
    height: 35rem;
    display: flex;
}
#header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-7);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    z-index: -1;
}

/* navigation */
#nav{
    width: 100%;
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}
#nav ul{
    position: relative;
    display: inline-flex;
    left: 2rem;
}
#nav ul li a{
    text-decoration: none;
    color: var(--color-0);
    padding: 0.3rem 0.6rem;
    transition: 0.1s;
}
#nav ul li a:hover{
    border-bottom: 0.125rem solid var(--color-0);
    transition: 0.25s;
}
#nav ul li a:active{
    color: var(--color-8);
    border-bottom: 0.125rem solid var(--color-8);
    transition: 0.25s;
}
ul li svg{
    font-size: 1.25rem;
    margin-left: 0.4rem;
}
#nav .nav-link {
    display: inline-flex;
    align-items: center;
}
/* menu bar */
#nav .menu-bar{
    display: none;
    padding: 0.3rem;
    position: relative;
    left: 1rem;
}
#nav .menu-bar a{
    text-decoration: none;
    color: var(--color-0);
    font-size: 1.7rem;
}
#nav .menu-bar a:active{
    color: var(--color-8);
}

/* logo */
#nav #logo{
    position: relative;
    right: 2rem;
}
#nav #logo img {
    width: 6rem;
}

/* header text & image */
#header-section {
    margin-top: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
#header-section .image{
    position: relative;
    top: -2rem;
}
#header-section .image img{
    width: 33rem;
}
#header-section .text-box{
    width: rem; 
    position: relative;
    top: 8rem;
}
#header-section .title{
    font-family: 'vazirBold';
    font-size: 3rem;
    line-height: 3rem;
    color: var(--color-8);
}
#header-section .text{
    padding: 1rem 0 1rem 1rem;
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: var(--color-8);
}

/* aside */

#aside{
    position: fixed;
    display: none;
    width: 17rem;
    height: 100vh;
    padding: 1rem;
    background-color: var(--color-7);
    top: 0;
    left: 0;
    box-shadow: 0.2rem 0 1rem rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
}
#aside a{
    text-decoration: none;
    color: var(--color-0);
}
#aside a:hover{
    border-bottom: 0.125rem solid var(--color-0);
    transition: 0.25s;
}
#aside a:active{
    color: var(--color-8);
    border-bottom: 0.125rem solid var(--color-8);
    transition: 0.25s;
}
#aside .close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#aside .close a{
    font-size: 1.7rem;
}
#aside .aside-logo{
    width: 80%;
    margin: 3rem auto 1rem auto;
    color: var(--color-8);
    font-family: 'vazirBold';
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 0.2rem solid var(--color-8 );
}
#aside .aside-logo img{
    width: 6rem;
}

#aside ul li{
    font-size:1.3rem;
    padding: 0.5rem;
}


/* product */
#product{
    width: 100%;
    height: 35rem;
    margin: 12rem 0 5rem 0;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
}
#product .product-controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#product .product-controls .search {
    display: flex;
    padding: 1rem;
    gap: 0.3rem;
}
#product .product-controls .filter{
    width: 20rem;
}
#product .product-controls button,
#product .product-controls input,
#product .product-controls select{
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-radius: 20rem;
    padding: 1rem;
    color: var(--color-9);
    background-color: var(--color-3);
    font-family: 'vazirNormal';
}
#product .product-controls input {
    font-weight: bold;
    box-shadow: inset 0.125rem 0.125rem 0.3rem var(--color-4), inset -0.3rem -0.3rem 0.7rem var(--color-5);
    width: 12rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
}
#product .product-controls input:focus {
    box-shadow: inset 0.06rem 0.06rem 0.125rem var(--color-4), inset -0.06rem -0.06rem 0.125rem var(--color-5);    
}
#product .product-controls button:hover,
#product .product-controls select:hover{
    box-shadow: -0.125rem -0.125rem 0.3rem var(--color-5), 0.125rem 0.125rem 0.3rem var(--color-4);
}
#product .product-controls button,
#product .product-controls select {
    font-weight: bold;
    box-shadow: -0.3rem -0.3rem 1.25rem var(--color-5), 0.3rem 0.3rem 1.25rem var(--color-4);
    cursor: pointer;
}
#product .product-controls button:active,
#product .product-controls select:active {
    box-shadow: inset 0.06rem 0.06rem 0.125rem var(--color-4), inset -0.06rem -0.06rem 0.125rem var(--color-5);
}
#product .product-controls button svg{
    text-align: center;
}
#product .product-controls .filter-btn{
    width: 5rem;
    padding: 1rem;
    border-radius: 20rem;
}

#product .product-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#product .product-slider-outer{
    width: 90%;
    height: 25rem;
    margin: 0 0.5rem;
    background-color: var(--bg-color);
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}
#product .product-slider{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    
}
#product .arrow a{
    font-size: 3rem;
    color: var(--color-7);
}
#product .arrow{
    z-index: 5;
    position: relative;
    margin: 0.5rem;
}
#product .right{
    order: 0;
    right: 0;
}
#product .left{
    order: 2;
    left: 0;
}
#product .product-item{
    flex: 0 0 15rem;
    border: 0.06rem solid #e0e0e0;
    border-radius: 0.5rem;
    order: 1;
}
#product .product-item:hover{
    box-shadow: 0.3rem 0.3rem 0.7rem 0rem rgba(0,0,0,0.3);
    transition: 0.25s;
}
#product .product-item .product-title{
    font-family: vazirBold;
    padding: 0.6rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.6rem;
}
#product .product-item .product-title a{
    text-decoration: none;
    color: var(--color-10);
}
#product .product-item .product-title a h2:hover{
    color: var(--color-8);
    transition: 0.25s;
}
#product .product-item .product-image img{
    width: 100%;
    height: auto;
    padding: 0.6rem;
    box-sizing: border-box;
}

#product .product-item .product-instock{
    padding:0 0.6rem 0.6rem 0;
    color: red;
    font-size: 0.8rem;
}
#product .product-item .product-data{
    display: flex;
    align-items: center;
    border-top: 0.06rem solid #e0e0e0;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
}
#product .product-item .product-data .add-to-cart:hover{
    cursor: pointer;
}

/* modal */
.modal{
    display: none;
    background-color: var(--color-8);
    width: 32rem;
    position: relative;
    border-radius: 1rem;
    margin: auto;
}
.modal .close {
    font-size: 2rem;
    position: absolute;
    top: -1rem;
    right: -0.7rem;
}
.modal .image{
    /* position: absolute; */
    width: 95%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}
.modal .image img{
    width: 100%;
    border-radius: 1rem;
}

/* footer */
#footer{
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: var(--color-7);
    align-items: center;
    justify-content: center;
    color: var(--color-0);
}
#footer p{
    text-align: center;
    font-size: 1rem;
}


@media only screen and (max-width: 900px) {
    #product{
        margin: 10rem 0 5rem 0;
    }
  
    #nav ul{
        display: none;
    }
    #nav .menu-bar{
        display: initial;
    }
    #header-section .image{
        display: none;
    }
}

@media screen and (max-width: 44rem) {
    .container {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #product .product-box {
        position: relative;
    }

    #product .product-slider {
        width: 100%;
        height: 25rem;
        margin: 0 0.5rem;
        overflow-x: auto;
    }

    #product .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    #product .right {
        right: 0.5rem;
    }

    #product .left {
        left: 0.5rem;
    }
}
@media screen and (max-width: 34rem) {
    #product{
        height: 40rem;
    }
    #product .product-controls {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        margin: 1rem 0;
    }

    #product .product-controls input {
        width: 100%;
    }

    #product .product-controls .search,
    #product .product-controls .filter {
        width: 20rem;

    }

    #product .product-controls select {
        width: 100%;
    }
}